DATABASE_URL="postgresql://postgres:yourpassword@localhost:5432/asoiaf_db?schema=public"

REDIS_URL="redis://localhost:6379"

JWT_SECRET="the_night_is_dark_and_full_of_terrors"
PORT=3000

# Google OAuth Credentials
GOOGLE_CLIENT_ID=paste_your_client_id_here
GOOGLE_CLIENT_SECRET=paste_your_client_secret_here
GOOGLE_CALLBACK_URL=http://localhost:3000/api/auth/google/callback